.vs/mapsProjAPI/FileContentIndex
.vs/mapsProjAPI/v17
*.suo
*.v2
*.1
.vs/mapsProjAPI/FileContentIndex
obj/Debug
bin/Debug
.vs/ProjectEvaluation
.vs/mapsProjAPI/v17
.vs/mapsProjAPI/DesignTimeBuild
.vs
bin
.vs/mapsProjAPI
bin/Debug
obj/Debug
.vs/ProjectEvaluation
